:root {
  --primari-background-color: #fff;
  --second-background-color: #f4f4fd;
  --primari-text-color: #434455;
  --second-text-color: #2e2f42;
  --color-logo: #4d5ae5;
  --hover-color: #404bbf;
  --border: #e7e9fc;
  --border-advantages: #8e8f99;
  --footer-social-hover: #31d0aa;
  --form-background: #fcfcfc;
  --form-text: #8e8f99;
}
